<div></div>
<style>
  body{
    background:#A1E8A7
  }
  div {
    height:200;
    background:#A1E8A7;
    margin:50 67;
    border:50px solid#D2495C;
    &::after{
      content:"";
      width:50.5;
      height:50.5;
      background:#D2495C;
      position:absolute;
      margin:50 0;
      box-shadow:
        100px 0 #D2495C,
        100px 100px #D2495C,
        0 100px #D2495C;
    }
  }
</style>
