<div></div>
<style>
  body{
    background:#41434B;
  }
  body::before{
    content:"";
    background:white;
    position:absolute;
    width:100px;
    height:100px;
    top:70;
    left:60;
    border-radius:100% 100% 0 100%;
  }
  body::after{
    content:"";
    background:white;
    position:absolute;
    width:100px;
    height:100px;
    top:70;
    left:240;
    border-radius:100% 100% 100% 0;
  }
  div {
    width: 30px;
    height: 30px;
    background:#41434B;
    position:absolute;
    border-radius:100%;
    top:105px;
    left:75;
    box-shadow:180px 0 #41434B;
    z-index:1;
    &::after{
      content:"";
      width:80px;
      height:60px;
      background:#D95F5B;
      clip-path: polygon(0 0, 100% 0,50% 100%);
      position:absolute;
      top:65;
      left:85
    }
  }
</style>
