<div></div>
<style>
  body{
    background:#2F5A76;
    background-image:linear-gradient(#F5BB60),linear-gradient(#F5BB60);
    background-size: 265px 30px;
    background-repeat:no-repeat;
    background-position:top right,bottom right;
    padding:127px 17px
  }
  div {
    width: 30px;
    height: 30px;
    background: #F5BB60;
    border-radius:50%;
    box-shadow:130px 0 #F5BB60,260px 0 #F5BB60;
  }
</style>
