<div class="c">
  <div class="b"></div>
</div>
<div class="c">
  <div class="b"></div>
</div>
<div class="c">
  <div class="b"></div>
</div>
<style>
  *{
    margin:0;
    padding:0;
  }
  body{
    display:flex;
    justify-content:center;
    gap:20px;
    background:#F8B140;
  }
  .c{
    background:#F8B140;
    height:100%;
    width:80px;
    /* display:flex;
    align-items:center; */
    overflow:hidden;
  }
  .b{
    width:91px;
    height:90px;
    background:#F8B140;
    background-image:radial-gradient(circle at center, #cf6939 15px, transparent 12px);
    background-size:50px 50px;
    background-repeat:no-repeat;
    background-position:center;
    border:30px solid #2F434E;
    outline:30px solid #CF6939;
    border-radius:100%;
    position:relative;
    top:75px;
    left:-37px;
  }
</style>
