<style>
  *{
    margin:0;
  }
  html{
    background:#CEEDFF;
    border:30px solid #48BF7D;
    border-radius:160px;
    height:200px;
    width:200%;
    margin-top:40px;
    margin-left:5px;
    overflow:hidden;
  }
  html::after{
    content:"";
    background:#CEEDFF;
    width:200%;
    height:200px;
    position:absolute;
    border:30px solid #48BF7D;
    border-radius:160px;
    top:40;
    left:135px;
  }
  html::before{
    content:"";
    background:#CEEDFF;
    width:200%;
    height:200px;
    position:absolute;
    border:30px solid #48BF7D;
    border-radius:160px;
    top:40;
    left:265px;
    z-index:1;
  }
  body{
    background:#CEEDFF;
    width:100%;
    height:164px;
    position:absolute;
    z-index:10;
    top:0;
    left:0;
  }
  body::after {
    content:"";
    background:#48BF7D;
    width:30px;
    height:30px;
    position:absolute;
    top:154px;
    left:5px;
    border-radius:100%;
    box-shadow:
      130px 0 #48BF7D,
      260px 0 #48BF7D;
  }

</style>
