<div></div>
<style>
  body{
    background:#AA445F;
    display:flex;
    justify-content:center;
    align-items:center;
    
  }
  div {
    width: 250px;
    height: 200px;
    border-radius:100px;
    background:linear-gradient(to right,
      #F7EC7D 0,#F7EC7D 100px,
      #AA445F 100px,#AA445F 150px,
      #E38F66 150px , #E38F66 100%
    );
  }
</style>
