<div></div>
<style>
  body{
    background:#191919;
    background-image:
    linear-gradient(#F2AD43);
    background-repeat:no-repeat;
    background-size:60% 100px;
    background-position:center;
  }
  div {
    width: 80px;
    height: 122px;
    background: #191919;
    margin:auto;
    border-radius:10px;
    background-image:
    linear-gradient(#F2AD43);
    background-repeat:no-repeat;
    background-size:20px 20px;
    background-position:bottom;
  }
  div::after{
    content:"";
    background:#F2AD43;
    width:10px;
    height:10px;
    position:absolute;
    border-radius:100%;
    left:185px;
    top:105px;
    box-shadow:20px 0  #F2AD43;
  }
  div::before{
    content:"";
    background:#191919;
    width:100px;
    height:100px;
    position:absolute;
    border-radius:100%;
    left:25px;
    top:100px;
    box-shadow:250px 0px #191919,180px 90px 0 30px #191919,70px 90px 0 30px #191919;
  }
</style>
